{% extends 'base.html' %}
{% block title %}Purchased Ingredients {% endblock title %}
{% block content %}

<div class="container">
    <h1>Purchased Record</h1>
</div>

<div class="container mt-5">
    <a href="{% url 'inventory' %}" class="btn btn-secondary mb-3">Go Back</a>
    {% if user.is_super %}
    <a href="{% url 'ingredient_purchase_add' %}" class="btn btn-primary mb-3">Add Purchases</a>
     {% endif %}
    <div class="card-x">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <a href="?sort=purchased_at&dir={% if current_sort == 'purchased_at' and current_dir == 'asc' %}desc{% else %}asc{% endif %}">
                        Date Purchased
                    </a>
                    {% if current_sort == 'purchased_at' %}
                        {% if current_dir == 'asc' %} ▲ {% else %} ▼ {% endif %}
                    {% endif %}
                </th>
                <th>
                    <a href="?sort=ingredient__name&dir={% if current_sort == 'ingredient__name' and current_dir == 'asc' %}desc{% else %}asc{% endif %}">
                        Ingredient
                    </a>
                    {% if current_sort == 'ingredient__name' %}
                        {% if current_dir == 'asc' %} ▲ {% else %} ▼ {% endif %}
                    {% endif %}
                </th>
                <th>
                    <a href="?sort=quantity&dir={% if current_sort == 'quantity' and current_dir == 'asc' %}desc{% else %}asc{% endif %}">
                        Quantity
                    </a>
                    {% if current_sort == 'quantity' %}
                        {% if current_dir == 'asc' %} ▲ {% else %} ▼ {% endif %}
                    {% endif %}
                </th>
                <th>
                    <a href="?sort=cost&dir={% if current_sort == 'cost' and current_dir == 'asc' %}desc{% else %}asc{% endif %}">
                        Cost
                    </a>
                    {% if current_sort == 'cost' %}
                        {% if current_dir == 'asc' %} ▲ {% else %} ▼ {% endif %}
                    {% endif %}
                </th>
                <th>Cost per Unit</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in ingredients %}
                <tr>
                    <td>{{ ingredient.purchased_at|date:"Y-m-d" }}</td>
                    <td>{{ ingredient.ingredient.name }}</td>
                    <td>{{ ingredient.quantity }} {{ ingredient.ingredient.unit }}</td>
                    <td>S${{ ingredient.cost }}</td>
                    <td>S${{ ingredient.ingredient.latest_cost_per_unit }}</td>
                    <td>
                        <a href="{% url 'ingredient_purchase_edit' ingredient.id %}" class="btn btn-warning btn-sm">Edit</a>
                        <a href="{% url 'ingredient_purchase_delete' ingredient.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>

{% endblock content %}